services:
  caddy:
    container_name: caddy
    image: caddy:latest
    ports:
      - "1447:8443"
      - "1448:8444"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
      - ./certs-dev:/certs:ro
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - piholeV6-https
      - piholeV5-https

  piholeV5:
    container_name: piholeV5
    image: pihole/pihole:2024.07.0
    ports:
      - "54:53/tcp"
      - "54:53/udp"
      - "8080:80/tcp"
      - "1443:443/tcp"
    environment:
      TZ: 'Asia/Tokyo'
      WEBPASSWORD: 'test123'

  piholeV5-https:
    container_name: piholeV5-https
    image: pihole/pihole:2024.07.0
    expose:
      - "80"
    environment:
      TZ: 'Asia/Tokyo'
      WEBPASSWORD: 'test123'

  piholeV6:
    container_name: piholeV6
    image: pihole/pihole:latest
    ports:
      - "55:53/tcp"
      - "55:53/udp"
      - "80:80/tcp"
      - "443:443/tcp"
    environment:
      TZ: 'Asia/Tokyo'
      FTLCONF_webserver_api_password: 'test001'

  # Pi-hole V6 with reverse proxy (self-signed HTTPS)
  piholeV6-https:
    container_name: piholeV6-https
    image: pihole/pihole:latest
    expose:
      - "80"
    environment:
      TZ: 'Asia/Tokyo'
      FTLCONF_webserver_api_password: 'test001'

  piholeV62:
    container_name: piholeV62
    image: pihole/pihole:2025.08.0
    ports:
      - "56:53/tcp"
      - "56:53/udp"
      - "8081:80/tcp"
      - "1444:443/tcp"
    environment:
      TZ: 'Asia/Tokyo'
      FTLCONF_webserver_api_password: 'test002'

  piholeV63:
    container_name: piholeV63
    image: pihole/pihole:2025.02.7
    ports:
      - "57:53/tcp"
      - "57:53/udp"
      - "8082:80/tcp"
      - "1445:443/tcp"
    environment:
      TZ: 'Asia/Tokyo'
      FTLCONF_webserver_api_password: 'test003'

  piholeV6dev:
    container_name: piholeV6dev
    image: pihole/pihole:nightly
    ports:
      - "58:53/tcp"
      - "58:53/udp"
      - "8083:80/tcp"
      - "1446:443/tcp"
    environment:
      TZ: 'Asia/Tokyo'
      FTLCONF_webserver_api_password: 'test000'

volumes:
  caddy_data:
  caddy_config: