[Desktop Entry]
Name=Pi-hole client
Comment=Manage your Pi-hole server
Exec=pi-hole-client
Icon=${SNAP}/meta/gui/icon-foreground-max.png
Terminal=false
Type=Application
Categories=Utilities;
