[Desktop Entry]
Name=Pi-hole client
Comment=Manage your Pi-hole® server
Exec=pi-hole-client
Icon=${SNAP}/meta/gui/droid-hole.png
Terminal=false
Type=Application
Categories=Utilities;
